*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

.text-while{
    color: #fff !important;
}

.row{
    margin-left: 8px;
    margin-right: 8px;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

.text-center{
    text-align: center !important;
}

#main{
    
}


#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

#nav{
    display: inline-block;
}


#nav li{
    
    position: relative;
}

#nav > li {
    display: inline-block;
}
 
#nav .muiten{
    font-size: 14px;
}

#nav > li:hover > a{
    color:#000;
    background-color: #ccc;   
    
}

#header .menu-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .timkiem{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .mobie-menu-btn{
    float: right;
    padding: 0 21px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .search{
    float: right;
    
    padding: 0 21px;
}

#header .mobie-menu-btn:hover{
    background-color: #ccc;
    
}

#header .mobie-menu-btn:hover .menu-icon{
    color: #000;
}

#header .search:hover{
    background-color: #f44336;
    cursor: pointer;
}

#nav .subnav li:hover a{
    color:#000;
    background-color: #ccc;   
    
}

#nav li:hover ul{
    display: block;
}

#nav .subnav{
    background-color: #fff;
    position: absolute;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li{
    display: block;
}

#nav li a{
    text-decoration: none;
    
    line-height: 46px;
    display: block;
    padding: 0 24px;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/anh1.jpg') top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-size: 24px;
    font-weight: 500px;
    padding-bottom: 25px;
}
#slider .text-description{
    font-size: 15px;
    text-shadow: 0 0 1px #000;
}


#content{
    
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading,
#content .section-sub-heading {
    text-align: center;
}

#content .section-sub-heading {
    margin: 25px 0;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .section-heading{
    font-weight: 500px;
    font-size: 30px;
    letter-spacing: 4px;
}

#content .text-content{
    font-size: 15px;
    text-align: justify;
    margin: 25px 0;
    line-height: 1.4;
}

#content .items{
    float: left;
    text-align: center;
    width: 33.33333%;
    
}

#content .list{
    margin-top: 47px;
    
    
}

#content .ten{
    font-size: 15px;
}

#content .anh-theband{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

.tour{
    background-color: #000;
}

.dathang{
    background-color: #fff;
    margin: 40px;
    list-style: none;
}

.dathang li{
    padding: 11px 16px;
    font-size: 15px;
    border-bottom: solid 1px #ddd;
    color: #757575;
}

.sold-out{
    padding-left: 16px;
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 15px;
}

.soluong{
    float: right;
    margin-right: 20px;
    background-color: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
}

.places-list{
    
    margin: -70px 322px 0;
    padding-bottom: 102px;

}

.palces-items{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.places-img{
    width: 100%;
    display: block;
}

.places-img:hover{
    opacity: 0.6;
    
}

.noidung-places{
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}

.places-heading{
    font-size: 15px;
}

.places-time{
    margin-top: 15px;
    color: #757575;
}

.places-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.nutmua{
    color: #fff;
    background-color: #000;
    padding: 11px 16px;
    text-decoration: none;
    margin-bottom: 16px;
    display: inline-block;
    margin: 15px;
}

.nutmua:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalfaceIn ease 0.5s;
}

.modal-header{
    background-color: #009688;
    color: #fff;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.modal-stcket{
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 16px;
}

.modal-close:hover{
    background-color: #ccc;
    cursor: pointer;
}

.modal-body{
    padding: 16px;
    
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    width: 100%;
    padding: 8px;
    margin-bottom: 24px;
    border: solid 1px #ccc;
}

#Buy-tickets{
    margin-top: 16px;
    padding: 16px;
    width: 100%;
    background-color: #009688;
    border: solid 1px;
   
}

#Buy-tickets:hover{
    opacity: 0.8;
    cursor: pointer;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}


@keyframes modalfaceIn{
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-content{
    margin-top: 48px;
}

.contact-info i[class*="ti-"] {
    width: 25px;
    display: inline-block;
}

.contact-info{
    font-size: 18px;
    margin-top: 23px;
    line-height: 1.5;
}

.contact-info a{
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover{
    opacity: 1;
}

.contact-form{
    font-size: 15px;
    padding: 10px;
}

.contact-form .form-control{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.form-control{
    margin-top: 8px;
}

.form-submit{
    mamargin-top: 16px;
}

.contact-form .form-submit{
    float: right;
    margin-right: 20px;
    margin-top: 16px;
    padding: 9px 13px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    border: none;
}

.contact-form .form-submit:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.map-section img{
    width: 100%;
    margin-top: 100px;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list{
    font-size: 24px;
    
}

#footer .social-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright{
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
    
}
